@using SklepInternetowy.Controllers
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <header>
            <div style="overflow: hidden;">
                <a id="koszykHeaderLink" href="link">
                    Koszyk (0)
                    <span></span>
                </a>
                <a id="indexHeaderLogo" href="@Url.Content("~/")">
                    <img src="@Url.Content("~/Content/Images/logo.png")" class="center" />
                </a>
            </div>
        </header>

        <div class="container">
            @RenderBody()
        </div>


        <footer>
            <nav>
                <ul>
                    <li>@Html.ActionLink("O nas", "StaticPages", "Home", new { name = "O_nas"}, null)</li>
                    <li>@Html.ActionLink("Społeczność", "StaticPages", "Home", new { name = "Spolecznosc" }, null)</li>
                    <li>@Html.ActionLink("Opinie", "StaticPages", "Home", new { name = "Opinie" }, null)</li>
                    <li>@Html.ActionLink("Pomoc", "StaticPages", "Home", new { name = "Pomoc" }, null)</li>
                    <li>@Html.ActionLink("Regulamin", "StaticPages", "Home", new { name = "Regulamin" }, null)</li>
                    <li>@Html.ActionLink("Kontakt", "StaticPages", "Home", new { name = "Kontakt" }, null)</li>
                   
                </ul>
            </nav>
            <div id="footerLogo">
            </div>
            <div id="footerCopyright">
                Copyright &copy; 2017 Suplementy
            </div>
        </footer>
    </div>
    <div>
        @RenderSection("Scripts", required: false)
    </div>

    
</body>
</html>