@model SklepInternetowy.Models.Supplement
@using System.Web.UI.WebControls
@using SklepInternetowy.Infrastructure

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

            @Html.Action("CategoriesMenu")
        </div>
        <div class="col-md-9">
            <nav class="breadcrumb">
                <img src="@Url.Content("~/Content/Images/minihouse.png")" />
                <a class="breadcrumb-item" href="#">Start</a>

                <span class="breadcrumb-item active">Białko</span>
            </nav>

            <div class="col-md-5">
                <img src="@Url.ProductsPicturePath(Model.ImageFileName)" style="width:100%;height:100%" />
            </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="product-name">
                        @Model.Name
                    </h1>
                    <h2 id="producer-name">
                        @Model.Producer
                    </h2>
                </div>
            </div>
            <div class="row" id="row-margin">
                <div class="col-md-6" id="product-price">

                    @string.Format("{0:0.00}", Model.Price)<span>ZŁ</span>

                </div>
                <div class="col-md-6" id="button-center">
                    <a href="@Url.Action("AddToCart","Cart", new { id=Model.SupplementId})" type="button" class="btn btn-info">Do koszyka</a>
                </div>
            </div>

            <div class="row" id="row-margin">
                <div class="col-md-12">
                    @Model.Description
                </div>
            </div>
            <div class="row" id="row-margin">
                <div class="col-md-12">
                    @Model.ShortDescription
                </div>
            </div>

        </div>
        </div>
    </div>
    </div>
